{{ ansible_managed_warning | comment() }}

# job meta-data

guid:                             {{ guid }}
env_type:                         {{ env_type }}
email:                            {{ email }}

subdomain_base_suffix:            {{ subdomain_base_suffix }}

# babylon metadata

output_dir:                       {{ babylon_output_dir }}

babylon_organization:             {{ babylon_organization }}
babylon_deployer_action:          {{ babylon_deployer_action }}
ACTION:                           {{ babylon_deployer_action }}

babylon_deployer_type:            {{ babylon_deployer_type }}
babylon_deployer_entry_point:     {{ babylon_deployer_entry_point }}

babylon_scm_reference:            {{ babylon_scm_reference }}
babylon_scm_type:                 {{ babylon_scm_type }}
babylon_scm_url:                  {{ babylon_scm_url }}

babylon_callback_url:             {{ babylon_callback_url }}
babylon_callback_token:           {{ babylon_callback_token }}
# cloud/platform meta-data

cloud_provider:                   {{ cloud_provider }}
aws_region:                       {{ aws_region }}
HostedZoneId:                     {{ aws_hosted_zone_id }}
aws_access_key_id:                {{ aws_access_key_id }}
aws_secret_access_key:            {{ aws_secret_access_key }}

key_name:                         {{ key_name }}

{{ ansible_managed_warning | comment() }}

{% environment_parameters | to_nice_yaml -%}

{{ ansible_managed_warning | comment() }}
