{{ ansible_managed_warning | comment() }}

{% for e_var in environment_parameters  -%}
{{ e_var | to_nice_yaml }}
{%- if loop.index % 20 == 0 %}
{{ ansible_managed_warning | comment() }}
{% endif -%}
{%- endfor %}

{{ ansible_managed_warning | comment() }}
